.header {
  height: 300px;
  width: 95%;
  margin: auto;

  .container-header {
    margin: 50px 0 0 0;
    height: 215px;
    position: relative;

    .inner-header {
      width: 100%;
      height: 100%;
      margin: auto;
      background: url('~/assets/img/app/imagen-32.png') no-repeat center -30px;
      background-size: 97% 120%;

      .header-logo-container {
        min-height: 100%;

        .header-music-notes {
          background: url("/assets/img/app/imagen-24.png") no-repeat center center;
          background-size: contain;
          position: absolute;
          width: 75px;
          height: 70px;
          top: -50px;
          left: 73px;
        }

        .header-star-logo {
          background: url('~/assets/img/app/imagen-9.png') no-repeat center center;
          background-size: contain;
          position: absolute;
          width: 30px;
          height: 32px;
          top: 45%;
          right: 1%;

        }

        .header-logo {
          width: 260px;
          height: 260px;
          position: absolute;
          top: -25%;
          left: 20%;
        }
      }
      .header-main-container {
        min-height: 100%;

        .header-text-container {
          margin-top: 50px;
        }

        .header-star-text {
          background: url('~/assets/img/app/imagen-10.png') no-repeat center center;
          background-size: contain;
          position: absolute;
          width: 25px;
          height: 27px;
          top: 80%;
          right: 25%;

        }
        .header-star-side-text {
          background: url('~/assets/img/app/imagen-10.png') no-repeat center center;
          background-size: contain;
          position: absolute;
          width: 25px;
          height: 27px;
          top: 57%;
          right: 3%;
        }

        .header-star-side {
          background: url('~/assets/img/app/imagen-9.png') no-repeat center center;
          background-size: contain;
          position: absolute;
          width: 30px;
          height: 32px;
          top: 70%;
          right: -50%;
        }
      }

    }

    .social-button {
      height: 45px;

      .img-social {
        width: 35px;
        height: 40px;
      }

      .img-social-instagram {
        background: url("/assets/img/app/imagen-4.png") no-repeat center center;
        background-size: 45px 40px;

      }
      .img-social-mail {
        background: url("/assets/img/app/imagen-5.png") no-repeat center center;
        background-size: 45px 40px;

      }

      .img-social-phone {
        background: url("/assets/img/app/imagen-6.png") no-repeat center center;
        background-size: 45px 40px;

      }
    }
  }

}

