<header class="header row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="container-header">
        <div class="row">

          <div class="social-button pull-right">
            <ul class="list-inline list-unstyled">
              <li><a href="https://www.instagram.com/" target="_blank"><div class="img-social-instagram img-social"></div></a></li>
              <li><a href="mailto:jardinmarcopolo@gmail.com" target="_blank"><div class="img-social-mail img-social"></div></a></li>
              <li><a href="tel:555-555-5555" target="_blank"><div class="img-social-phone img-social"></div></a></li>
            </ul>
          </div>
        </div>
        <div class="row inner-header">
          <div class="col-md-4 col-lg-4 header-logo-container">
            <div class="header-music-notes"></div>
            <img src="../../assets/img/app/imagen-21.png" alt="Marco Polo" class="img-responsive center-block header-logo"/>
            <div class="header-star-logo"></div>
          </div>
          <div class="col-md-4 col-lg-4 header-main-container">
            <div class="header-text-container">
              <img src="../../assets/img/app/imagen-22.png" width="336" height="115" alt="Marco Polo" class="img-responsive center-block header-text"/>
            </div>
            <div class="header-star-text"></div>
            <div class="header-star-side-text"></div>
            <div class="header-star-side"></div>
          </div>
          <div class="col-md-4 col-lg-4"></div>
        </div>

      </div>

    </div>
    <div class="col-lg-1"></div>
</header>
