.footer {
  height: 130px;
  width: 95%;
  margin: auto;

  .container-footer {
    height: 115px;
    position: relative;

    .inner-footer {
      position: relative;
      width: 100%;
      height: 100%;
      margin: auto;
      background: url('~/assets/img/app/imagen-32.png') no-repeat center -20px;
      background-size: 98% 125%;

      .container-footers {
        height: 115px;

        .hand-contact {
          background: url("/assets/img/app/imagen-14.png") no-repeat center center;
          background-size: contain;
          width: 250px;
          height: 110px;
          position: absolute;
          top: -25%;
          left: -10%;
        }
      }

      .social-button {
        height: 45px;
        width: 140px;
        position: absolute;
        right: 65px;
        top: 40px;

        .img-social {
          width: 35px;
          height: 40px;
        }

        .img-social-instagram {
          background: url("/assets/img/app/imagen-4.png") no-repeat center center;
          background-size: 45px 40px;

        }
        .img-social-mail {
          background: url("/assets/img/app/imagen-5.png") no-repeat center center;
          background-size: 45px 40px;

        }

        .img-social-phone {
          background: url("/assets/img/app/imagen-6.png") no-repeat center center;
          background-size: 45px 40px;

        }
      }
      .vertical-dashed-lines {
        background: url("/assets/img/app/imagen-15.png") no-repeat center center;
        background-size: contain;
        height: 145px;
        width: 30px;
        position: absolute;
        right: 5px;
        top: -10px;
      }
      .footer-text {
        span {
          display: block;
        }
        position: absolute;
        top: 20%;
        color: #AEADB2;
      }
    }

  }

  .simple-container-footer {

    .social-button {

      .mail-to a {
        color: #383839;
      }

      .img-social {
        width: 35px;
        height: 40px;
      }

      .img-social-instagram {
        background: url("/assets/img/app/imagen-4.png") no-repeat center center;
        background-size: 45px 40px;

      }
      .img-social-mail {
        background: url("/assets/img/app/imagen-5.png") no-repeat center center;
        background-size: 45px 40px;

      }

      .img-social-phone {
        background: url("/assets/img/app/imagen-6.png") no-repeat center center;
        background-size: 45px 40px;

      }
    }
  }
}
