<footer class="footer row">
  <div ng-if="footerCtrl.displayFooter">
    <div class="col-md-1 col-lg-1"></div>
    <div class="col-md-10 col-lg-10">
      <div class="container-footer">
        <div class="row inner-footer">
          <div class="col-md-4 col-lg-4 container-footers">
            <div class="social-button">
              <ul class="list-inline list-unstyled">
                <li><a href="https://www.instagram.com/" target="_blank"><div class="img-social-instagram img-social"></div></a></li>
                <li><a href="mailto:jardinmarcopolo@gmail.com" target="_blank"><div class="img-social-mail img-social"></div></a></li>
                <li><a href="tel:555-555-5555" target="_blank"><div class="img-social-phone img-social"></div></a></li>
              </ul>
            </div>
            <div class="vertical-dashed-lines"></div>
          </div>
          <div class="col-md-4 col-lg-4 container-footers">
            <div class="footer-text">
              <span>Dirección: Mar del Sur 1099, Las Condes</span>
              <span>Teléfonos: 2 322 072 57</span>
              <span>Email: jardinmarcopolo@gmail.com</span>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 container-footers">
            <div class="hand-contact"></div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-1 col-lg-1"></div>
  </div>
  <div ng-if="!footerCtrl.displayFooter">
    <div class="col-md-4 col-lg-4"></div>
    <div class="col-md-4 col-lg-4 simple-container-footer">
      <div class="social-button">
        <ul class="list-inline text-center list-unstyled">
          <li><a href="https://www.instagram.com/" target="_blank"><div class="img-social-instagram img-social"></div></a></li>
          <li><a href="mailto:jardinmarcopolo@gmail.com"><div class="img-social-mail img-social"></div></a></li>
          <li><a href="tel:555-555-5555" target="_blank"><div class="img-social-phone img-social"></div></a></li>
        </ul>
        <div class="text-center mail-to"><a href="mailto:jardinmarcopolo@gmail.com">jardinmarcopolo@gmail.com</a></div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4"></div>
  </div>
</footer>
