#about {
  height: 1400px;
  margin-bottom: 50px;
  p {
    margin: 0 0 5px;
  }
  .container-image-about {
    padding-right: 0;
    .image-about {
      width: 95%;
      min-height: 500px;
    }
  }
  .container-text-quotes {
    padding-left: 0;
    .about-text {
      width: 85%;
      min-height: 500px;
      .text-quotes {
        text-align: center;
        padding: 10% 0 0 0;
        position: relative;
        .quotes-up {
          background: url('~/assets/img/app/imagen-13.png') no-repeat center center;
          background-size: contain;
          width: 50px;
          height: 50px;
          position: absolute;
          top: 5%;
          left: 3%;
        }
        .paragraph {
          font-style: italic;
          font-size: 1vw;
          p {
            margin: 0 0 5px;
          }
        }
        .quotes-down {
          background: url('~/assets/img/app/imagen-35.png') no-repeat center center;
          background-size: contain;
          width: 50px;
          height: 50px;
          position: absolute;
          bottom: -20%;
          right: 11%;
        }
      }
    }
    .about-us-text {
      margin-top: 20px;
      height: 325px;
      width: 100%;
      font-size: 0.9vw;
      color: #969696;
      .title {
        text-align: center;
        font-family: KGAlwaysAGoodTime, Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 16px;
        width: 80%;
      }
      .line-stripes {
        width: 80%;
        height: 30px;
        background: url('~/assets/img/app/imagen-16.png') no-repeat center center;
        background-size: 40%;
      }
      p {
        margin: 0 0 5px;
      }
    }
  }

  .stripes {
    min-height: 500px;
    background: linear-gradient(-90deg, rgb(228, 232, 237) 55%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0) 0), rgba(129, 196, 212, 0.7);
    background-size: 50px auto;
    position: relative;
  }
  .text-box {
    background: #fff;
    width: 50%;
    height: 430px;
    margin: 5% 0 0 6%;
    padding: 20px 15px;
    font-size: 1vw;
    color: #969696;
    &.text-box-one {
      margin-left: 10%;
      width: 45%;
      padding-right: 0;
      .subtitle {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
      }
      .title {
        width: 65%;
      }
      .line-stripes {
        margin: 0;

        width: 65%;
      }
    }
    &.text-box-two {
      margin-left: 0;
      width: 45%;
    }
    &.text-box-three {
      width: 75%;
      margin: 10% auto 0 auto;
    }
    .title {
      text-align: center;
      font-family: KGAlwaysAGoodTime, Arial, Helvetica, sans-serif;
      font-weight: normal;
      font-size: 16px;
    }
    .line-stripes {
      width: 80%;
      height: 30px;
      background: url('~/assets/img/app/imagen-16.png') no-repeat center center;
      background-size: 40%;
      margin: auto;
    }
  }
  .puzzles {
    width: 75%;
    min-height: 375px;
    background: url('~/assets/img/app/imagen-23.png') no-repeat center;
    background-size: contain;
    margin: 65px auto 0 auto;
  }
  .rol-junji {
    width: 90%;
    height: 300px;
    border: 2px dashed #81c4d4;
    padding: 20px 15px;
    float: right;
    .rol-junji-text {
      width: 50%;
      font-size: 1vw;
      color: #969696;
      .title {
        text-align: center;
        font-family: KGAlwaysAGoodTime, Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 16px;
        width: 65%;
      }
      .line-stripes {
        margin: 0;
        width: 65%;
        height: 30px;
        background: url('~/assets/img/app/imagen-16.png') no-repeat center center;
        background-size: 40%;
      }

    }
  }

  .levels {
    background: #81c5d5;
    height: 300px;
    padding: 20px 15px;
    color: #cce8ee;
    font-size: 1vw;
    .title {
      text-align: center;
      font-family: KGAlwaysAGoodTime, Arial, Helvetica, sans-serif;
      font-weight: normal;
      font-size: 16px;
      width: 65%;
      margin: auto;
    }
    .line-stripes {
      width: 80%;
      height: 30px;
      background: url('~/assets/img/app/imagen-16.png') no-repeat center center;
      background-size: 40%;
      margin: auto;
    }
  }

  .about-stars {
    height: 300px;
    position: relative;
    .star {
      position: absolute;
      width: 30px;
      height: 32px;
    }
    .star-one {
      background: url('~/assets/img/app/imagen-10.png') no-repeat center center;
      background-size: contain;
      top: 15%;
      right: 80%;
    }
    .star-two {
      background: url('~/assets/img/app/imagen-9.png') no-repeat center center;
      background-size: contain;
      top: 40%;
      right: 70%;
    }
    .star-three {
      background: url('~/assets/img/app/imagen-9.png') no-repeat center center;
      background-size: contain;
      top: 30%;
      right: 45%;
    }
    .star-four {
      background: url('~/assets/img/app/imagen-9.png') no-repeat center center;
      background-size: contain;
      top: 40%;
      right: 15%;
    }
    .star-five {
      background: url('~/assets/img/app/imagen-10.png') no-repeat center center;
      background-size: contain;
      top: 85%;
      right: 50%;
    }
  }
}
