<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-lg-6 container-image-about">
      <div class="image-about">
        <img src="http://via.placeholder.com/551x500.png" class="img-responsive pull-right">
      </div>
    </div>
    <div class="col-md-6 col-lg-6 container-text-quotes">
      <div class="about-text">
        <div class="text-quotes">
          <div class="quotes-up"></div>
          <div class="paragraph">
            <p><strong>Nuestro Jardín Infantil se constituye como una alternativa educativa a partir</strong></p>
            <p><strong>del año 1993. Nos proponemos favorecer el desarrollo del niño(a) como</strong></p>
            <p><strong>persona integral, ofreciendo un ambiente que facilite el aprendizaje, el descu-</strong></p>
            <p><strong>brimiento, el respeto y la internalización de valores</strong></p>
          </div>
          <div class="quotes-down"></div>
        </div>
        <div class="about-us-text">
          <div class="col-md-6 col-lg-6">
            <div class="title">Nuestra Visión</div>
            <div class="line-stripes"></div>
            <p>Fomentar el <strong>desarrollo integral</strong> de</p>
            <p>niños y niñas a través de modelos y</p>
            <p>estrategias educativas, que potencien</p>
            <p>las <strong>habilidades</strong> y <strong>destrezas</strong> de cada</p>
            <p>uno, generando la construcción de</p>
            <p><strong>conocimientos</strong> y <strong>aprendizajes</strong></p>
            <p>significativos, que permita a éstos</p>
            <p>descubrir sus <strong>capacidades</strong>, respetando</p>
            <p>la individualidad en bases a un marco</p>
            <p>de <strong>diversidad cultural,</strong> en base a</p>
            <p><strong>valores cristianos,</strong> insertándose en la</p>
            <p>sociedad a la que pertenecen</p>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="title">Nuestra Misión</div>
            <div class="line-stripes"></div>
            <p>Contruir y orientar nuestra <strong>labor</strong></p>
            <p><strong>educativa</strong> a detectar, desarrollar y</p>
            <p>potenciar las <strong>habilidades</strong> del niño y de</p>
            <p>la niña acorde con las necesidades de</p>
            <p>los nuevos tiempos, enmarcado en un</p>
            <p><strong>currículum integral</strong> de la enseñanza</p>
            <p>infantil, significativo, flexible,</p>
            <p>equilibrado, dinámico, creativos y</p>
            <p>pertinente acorde a nuestra comunidad</p>
            <p>educativa, haciendo <strong>partícipe</strong> de todas</p>
            <p>y cada una de estas experiencias a</p>
            <p>sus <strong>familias</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer50"></div>
  <div class="row stripes">
    <div class="col-lg-6">
      <div class="pull-left text-box text-box-one">
        <div class="title">Actividades</div>
        <div class="line-stripes"></div>
        <div class="subtitle">
          <p><strong>Nuestras actividades y juegos</strong></p>
          <p><strong>permiten que los niños logren:</strong></p>
        </div>
        <p><strong>/</strong> Desarrollar la <strong>autonomía,</strong> toma de</p>
        <p>decisiones y la iniciativa.</p>
        <p><strong>/</strong> Construir su propia identidad y tomar</p>
        <p>conciencia de sus habilidades.</p>
        <p><strong>/</strong> Practicar sus habilidades y</p>
        <p>capacidades motoras para descubrir las</p>
        <p>posibilidades de su cuerpo.</p>
        <p><strong>/</strong> Formar parte importante de un grupo</p>
        <p>de pares, aprendiendo a <strong>convivir</strong></p>
        <p>y <strong>relacionarse.</strong></p>

      </div>
      <div class="pull-left text-box text-box-two">
        <div class="spacer50"></div>
        <p><strong>/ Comunicarse</strong> a través del lenguaje</p>
        <p>ampliando su vocabulario y</p>
        <p>expresión oral.</p>
        <p><strong>/</strong> Expresar su <strong>imaginación</strong> y</p>
        <p><strong>creatividad</strong> a través del arte, el baile y</p>
        <p>la música.</p>
        <p><strong>/</strong> Descubrir la <strong>naturaleza</strong> y aprender</p>
        <p>de su gran riqueza.</p>
        <p><strong>/</strong> Desarrollar su <strong>pensamiento lógico,</strong></p>
        <p>descubriendo relaciones entre objetos</p>
        <p>y buscando soluciones a sus problemas.</p>
        <p><strong>/</strong> Conocer <strong>celebraciones</strong> y <strong>fechas</strong></p>
        <p><strong>importantes</strong>, relacionándolas con su</p>
        <p>vida cotidiana.</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="col-lg-5">
        <div class="puzzles"></div>
      </div>
      <div class="col-lg-7">
        <div class="pull-left text-box text-box-three">
          <div class="title">Metodología</div>
          <div class="line-stripes"></div>
          <p>Trabajamos con el <strong>Currículum Integral,</strong></p>
          <p>realizando actividades en base a temas</p>
          <p>motivadores para los niño(a)s, las que</p>
          <p>abarcan todos los ámbitos de su</p>
          <p>aprendizaje: <strong>autonomía, identidad,</strong></p>
          <p><strong>convivencia, comunicación verbal y</strong></p>
          <p><strong>artística y relación con su entorno</strong></p>
          <p><strong>natural y cultural.</strong></p>
          <div class="spacer15"></div>
          <p>Se realizan una amplia gama de</p>
          <p><strong>actividades</strong> estimulantes y atractivas</p>
          <p>como arte, cocina, deportes, música y</p>
          <p>juegos de rincones.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer50"></div>
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="rol-junji">
        <div class="pull-left rol-junji-text">
          <div class="title">Rol Junji</div>
          <div class="line-stripes"></div>
          <p><strong>Somos reconocidos y avalados por la</strong></p>
          <p><strong>JUNJI (Junta Nacional de Jardines</strong></p>
          <p><strong>Infantiles), habiendo obtenido el</strong></p>
          <p><strong>empadronamiento y el Rol.</strong></p>
          <p><strong>/</strong> Infraestructura</p>
          <p>Contamos con casas modernizadas y</p>
          <p>adaptadas para la atención adecuada</p>
          <p>de los niños.</p>

        </div>
        <div class="pull-left rol-junji-text">
          <p><strong>/</strong> Nuestras salas son amplias y</p>
          <p>luminosas, especialmente equipadas</p>
          <p>según la edad de los niños.</p>
          <p><strong>/</strong> Todos los materiales didácticos están</p>
          <p>seleccionados para estimular las</p>
          <p>diferentes áreas del desarrollo infantil.</p>
          <p><strong>/</strong> En nuestro patio contamos con una</p>
          <p>variedad de juegos plásticos que</p>
          <p>brindan una mayor seguridad a los</p>
          <p>niños(as).</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6">
      <div class="col-md-6 col-lg-6 levels">
        <div class="title">Niveles</div>
        <div class="line-stripes"></div>
        <p><strong>Nivel MEDIO MENOR:</strong> a partir de los 2</p>
        <p>años. (1 de marzo del año del curso)</p>
        <p><strong>Nivel MEDIO MAYOR:</strong> de los 3 años en adelante</p>
        <div class="spacer10"></div>
        <p><strong><i>En cada uno de los niveles hay una Educa-</i></strong></p>
        <p><strong><i>dora a cargo del grupo y siempre acompa-</i></strong></p>
        <p><strong><i>ñada de una Técnico en Párvulos y en</i></strong></p>
        <p><strong><i>algunos casos existe una Co-educadora.</i></strong></p>
      </div>
      <div class="col-md-6 col-lg-6 about-stars">
        <div class="star star-one"></div>
        <div class="star star-two"></div>
        <div class="star star-three"></div>
        <div class="star star-four"></div>
        <div class="star star-five"></div>
      </div>
    </div>
  </div>
</div>

