<section id="history" class="container-fluid">
    <div class="col-md-6 col-lg-6 history-left">
      <div class="history-stars">
        <div class="star star-one"></div>
        <div class="star star-two"></div>
        <div class="star star-three"></div>
      </div>
      <div class="image-child">
        <img src="http://via.placeholder.com/513x500.png" class="img-responsive center-block">
      </div>
    </div>
    <div class="col-md-6 col-lg-6 history-right">
      <div class="history-text-container">
        <div class="history-pin"></div>
        <div class="history-text">
          <div class="title">Reseña Histórica</div>
          <div class="line-stripes"></div>
          <p>Los Jardines infantiles Marco Polo</p>
          <p>comienzan su funcionamiento el año</p>
          <p><strong>1993 en la calle Marco Polo</strong> 1085 Las</p>
          <p>Condes, de donde recibe su nombre,</p>
          <p>como una alternativa educativa para los</p>
          <p>niños del sector. Posteriormente en</p>
          <p>Agosto del 2009 se inaugura la sucursal</p>
          <p>de Aurelio González 3488 en Vitacura,</p>
          <p>luego en Febrero del 2013 La sede de</p>
          <p>Monseñor Escrivá de Balaguer 6615,</p>
          <p>Vitacura y finalmente el año 2016, abre</p>
          <p>la sucursal de Mar del Sur 1099,</p>
          <p>Las Condes.</p>
        </div>
        <div class="history-text">
          <div class="spacer100"></div>
          <div class="quotes-up"></div>
          <p><strong>Nuestro compromiso es favorecer</strong></p>
          <p><strong>desarrollo del niño/a como persona</strong></p>
          <p><strong>integral, ofreciendo un ambiente que</strong></p>
          <p><strong>facilite el aprendizaje, el descubri-</strong></p>
          <p><strong>miento, el respeto y la internalización</strong></p>
          <p><strong>de valores, a través de aprendizajes</strong></p>
          <p><strong>significativos.</strong></p>
          <div class="quotes-down"></div>
        </div>
        <div class="history-plant"></div>
      </div>
    </div>
  </div>
</section>
