#history {
  height: 500px;
  margin-bottom: 50px;
  .history-left {

    .history-stars {
      width: 20%;
      min-height: 500px;
      float: left;
      position: relative;
      .star {
        position: absolute;
        width: 30px;
        height: 32px;
      }
      .star-one {
        background: url('~/assets/img/app/imagen-9.png') no-repeat center center;
        background-size: contain;
        top: 125px;
        right: 75px;
      }
      .star-two {
        background: url('~/assets/img/app/imagen-9.png') no-repeat center center;
        background-size: contain;
        top: 200px;
        right: 30px;
      }
      .star-three {
        background: url('~/assets/img/app/imagen-10.png') no-repeat center center;
        background-size: contain;
        top: 320px;
        right: 85px;
      }
    }
    .image-child {
      width: 80%;
      min-height: 500px;
      float: right;
    }

  }
  .history-right {

    padding-left: 15px;
    padding-top: 5%;

    .history-text-container {
      width: 90%;
      display: inline-block;
      border: 2px dashed #81c4d4;
      background: #fff;
      padding: 20px 15px;
      position: relative;
      .history-text {
        width: 50%;
        float: left;
        position: relative;
        display: table-cell;
        p {
          margin: 0 20px 5px;
          font-size: 0.9vw;
        }
        .quotes-up {
          background: url('~/assets/img/app/imagen-17.png') no-repeat center center;
          background-size: cover;
          position: absolute;
          width: 35px;
          height: 30px;
          top: 35%;
          left: -10%;
        }
        .quotes-down {
          background: url('~/assets/img/app/imagen-34.png') no-repeat center center;
          background-size: cover;
          position: absolute;
          width: 35px;
          height: 30px;
          right: 50%;
          bottom: -10%;
        }
        .title {
          text-align: center;
          font-family: KGAlwaysAGoodTime, Arial, Helvetica, sans-serif;
          font-weight: normal;
          font-size: 1.4vw;
        }
        .line-stripes {
          width: 80%;
          height: 30px;
          background: url('~/assets/img/app/imagen-16.png') no-repeat center center;
          background-size: 40%;
          margin: auto;
        }
      }
    }
    .history-plant {
      background: url('~/assets/img/app/imagen-20.png') no-repeat center center;
      background-size: cover;
      position: absolute;
      width: 115px;
      height: 150px;
      bottom: -13%;
      right: 15%;
    }
    .history-pin {
      background: url('~/assets/img/app/imagen-7.png') no-repeat center center;
      background-size: cover;
      position: absolute;
      width: 60px;
      height: 70px;
      top: -8%;
      right: -4%;
    }
  }
}
