<section id="contact" class="container-fluid">
  <div class="row stripes">
    <div class="col-md-4 col-lg-4"></div>
    <div class="col-md-4 col-lg-4">
      <div class="contact-form-container">
        <form autocomplete="off">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="phone">Télefono</label>
            <input class="form-control" id="phone">
          </div>
          <div class="form-group form-message">
            <div class="image-notes"></div>
            <label for="message">Mensaje</label>
            <textarea class="form-control" id="message" rows="10"></textarea>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4 col-lg-4"></div>
  </div>
</section>
