#contact {
  height: 500px;
  margin-bottom: 50px;
  .stripes {
    min-height: 500px;
    background: linear-gradient(-90deg, rgb(228, 232, 237) 55%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0) 0), rgb(129, 196, 212);
    background-size: 50px auto;
    opacity: 0.7;
    position: relative;
  }
  .contact-form-container {
    padding-top: 20px;
    input.form-control  {
      width: 75%;
    }
    .form-message {
      position: relative;
      .image-notes {
        background: url('~/assets/img/app/imagen-8.png') center no-repeat;
        position: absolute;
        width: 95px;
        height: 80px;
        background-size: cover;
        top: -40px;
        right: -50px;;
      }
    }
  }
}
