<div id="preloaded-images">
  <img src="/assets/img/app/imagen-30.png">
</div>
<div class="container-fluid">
  <div class="row">
    <div id="container-ribbon" class="col-lg-12">
      <div class="ribbon-label"></div>
    </div>
  </div>
  <div id="container-logo" class="row">
    <div class="select-arrow"></div>
    <img src="../../assets/img/app/imagen-3.png" alt="Marco Polo" class="img-responsive center-block main-logo"/>
  </div>
  <div class="row vert-offset-top-2">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div id="main-address" class="row">
        <div class="col-md-4 container-address">
          <a ui-sref="app.home">
            <div class="address-house center-block"></div>
            <div class="addresses">
              <span class="text-address">Monseñor</span>
              <span class="text-address">Escrivá de Balaguer 6615</span>
              <span class="text-address-city">Vitacura</span>
            </div>
          </a>
        </div>
        <div class="col-md-4 container-address">
          <a ui-sref="app.home">
            <div class="address-house center-block"></div>
            <div class="addresses">
              <span class="text-address">Mar del Sur 1099</span>
              <span class="text-address-city">Las Condes</span>
            </div>
          </a>
        </div>
        <div class="col-md-4 container-address">
          <a ui-sref="app.home">
            <div class="address-house center-block"></div>
            <div class="addresses">
              <span class="text-address">Alcántara 980</span>
              <span class="text-address-city">Las Condes</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
