#container-logo {
  position: relative;
  .select-arrow {
    background: url("~/assets/img/app/imagen-2.png") no-repeat 80px 10px;
    background-size: contain;
    height: 170px;
    width: 370px;
    position: absolute;
    bottom: -15%;
    left: 2%;
  }

  .main-logo {
    width: 480px;
    height: 420px;
  }
}

#container-ribbon {
  height: 95px;
  position: relative;
  .ribbon-label {
    background: url("~/assets/img/app/imagen-1.png") no-repeat 40px -20px;
    background-size: contain;
    position: absolute;
    width: 385px;
    height: 255px;
    top: 0;
    right: 0;
  }
}

#main-address {

  .container-address {

    cursor: pointer;

    &:hover .addresses span {
      color: black;
    }

    &:hover .address-house{
      background: url("~/assets/img/app/imagen-30.png") no-repeat center center;
      background-size: contain;
    }

    .address-house {
      background: url("~/assets/img/app/imagen-31.png") no-repeat center center;
      background-size: contain;
      width: 98px;
      height: 100px;
    }

    .addresses {

      text-align: center;
      width: 100%;
      margin: auto;
      color: #AEADB2;
      span {
        display: block;
      }
      .text-address-city {
        font-weight: bold;
      }

    }

  }

}


