<header>
  <nav class="navigation-links">
    <ul class="navigation-links-list list-inline list-unstyled text-center">
      <li><a ng-class="{'link-active': navCtrl.url === 'app.home'}" ui-sref="app.home">Home</a></li>
      <li><img src="../../assets/img/app/imagen-11.png" width="15" height="17"></li>
      <li><a ng-class="{'link-active': navCtrl.url === 'app.about'}" ui-sref="app.about">Qué ofrecemos</a></li>
      <li><img src="../../assets/img/app/imagen-11.png" width="15" height="17"></li>
      <li><a ng-class="{'link-active': navCtrl.url === 'app.infrastructure'}" ui-sref="app.infrastructure">Infraestructura</a></li>
      <li><img src="../../assets/img/app/imagen-11.png" width="15" height="17"></li>
      <li><a ng-class="{'link-active': navCtrl.url === 'app.history'}" ui-sref="app.history">Historia</a></li>
      <li><img src="../../assets/img/app/imagen-11.png" width="15" height="17"></li>
      <li><a ng-class="{'link-active': navCtrl.url === 'app.contact'}" ui-sref="app.contact">Contacto</a></li>
    </ul>
  </nav>
</header>
