.navigation-links {
  width: 100%;
  height: 100px;
  position: relative;
  font-family: MarkerFelt, Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #AEADB2;
  .navigation-links-list {
    width: 70%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
     li {
       padding: 0 15px;
     }
  }
}
