$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import "app/main/main";
@import "app/header/header";
@import "app/navigation/navigation";
@import "app/footer/footer";
@import "app/infrastructure/infrastructure";
@import "app/home/home";
@import "app/contact/contact";
@import "app/history/history";
@import "app/about/about";

@font-face {
  font-family: 'MarkerFelt';
  src: url('assets/fonts/Marker-Felt.ttf.eot');
  src: url('assets/fonts/Marker-Felt.ttf.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Marker-Felt.ttf.woff') format('woff'),
  url('assets/fonts/Marker-Felt.ttf') format('truetype'),
  url('assets/fonts/Marker-Felt.ttf.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KGAlwaysAGoodTime';
  src: url('assets/fonts/KGAlwaysAGoodTime.eot');
  src: url('assets/fonts/KGAlwaysAGoodTime.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/KGAlwaysAGoodTime.woff2') format('woff2'),
  url('assets/fonts/KGAlwaysAGoodTime.woff') format('woff'),
  url('assets/fonts/KGAlwaysAGoodTime.ttf') format('truetype'),
  url('assets/fonts/KGAlwaysAGoodTime.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@for $i from 0 through 12 {
  .vert-offset-top-#{$i} {
    margin-top: #{$i}em;
  }

  .vert-offset-bottom-#{$i} {
    margin-bottom: #{$i}em;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: rgb(228, 232, 237);
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-weight: normal;
  min-height: 100%;
  color: #464646;
}



#preloaded-images {
  position: absolute;
  overflow: hidden;
  left: -9999px;
  top: -9999px;
  height: 1px;
  width: 1px;
  font-family: MarkerFelt, KGAlwaysAGoodTime ,Arial, Helvetica, sans-serif;
  font-weight: normal;
}

a {
  color: #AEADB2;
  text-decoration: none;

  &:hover, &:focus {
    color: rgb(129, 196, 212);
    text-decoration: none;
  }
}

.link-active {
  color: rgb(129, 196, 212);
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('~/assets/img/loader/spinner.gif') center no-repeat #fff;
}
.form-control {
  color: #555555;
  background-color: #fff;
  border-radius: 0;
  border: unset;
}

label {
  font-family: MarkerFelt, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.spacer1,.spacer2,.spacer3,.spacer4,.spacer5,.spacer6,.spacer7,.spacer8,.spacer9,.spacer10,
.spacer11,.spacer12,.spacer13,.spacer14.spacer15,
.spacer20,.spacer25,
.spacer30,.spacer35,
.spacer40,.spacer45,
.spacer50,.spacer55,
.spacer60,.spacer65,
.spacer70,.spacer75,
.spacer80,.spacer85,
.spacer90,.spacer95,
.spacer100,
.spacer200,
.spacer300,
.spacer400,
.spacer500 {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    width: 100%;
}

.spacer1 { height: 1px; }
.spacer2 { height: 2px; }
.spacer3 { height: 3px; }
.spacer4 { height: 4px; }
.spacer5 { height: 5px; }
.spacer6 { height: 6px; }
.spacer7 { height: 7px; }
.spacer8 { height: 8px; }
.spacer9 { height: 9px; }
.spacer10 { height: 10px; }
.spacer11 { height: 11px; }
.spacer12 { height: 12px; }
.spacer13 { height: 13px; }
.spacer14 { height: 14px; }
.spacer15 { height: 15px; }
.spacer20 { height: 20px; }
.spacer25 { height: 25px; }
.spacer30 { height: 30px; }
.spacer35 { height: 35px; }
.spacer40 { height: 40px; }
.spacer45 { height: 45px; }
.spacer50 { height: 50px; }
.spacer55 { height: 55px; }
.spacer60 { height: 60px; }
.spacer65 { height: 65px; }
.spacer70 { height: 70px; }
.spacer75 { height: 75px; }
.spacer80 { height: 80px; }
.spacer85 { height: 85px; }
.spacer90 { height: 90px; }
.spacer95 { height: 95px; }
.spacer100 { height: 100px; }
.spacer200 { height: 200px; }
.spacer300 { height: 300px; }
.spacer400 { height: 400px; }
.spacer500 { height: 500px; }
