<div id="preloaded-images">
  <div ng-repeat="n in $ctrl.range(1, 34)" class="{{ 'imagen-' + n }}">
    <img ng-src="/assets/img/app/imagen-{{ n }}.png" width="1" height="1" border="0" alt="{{ 'imagen-' + n }}">
  </div>
  <div ng-repeat="n in $ctrl.range(1, 5)">
    <img ng-src="/assets/img/photos/place{{ n }}.jpg" width="1" height="1" border="0" alt="{{ 'place' + n }}">
  </div>
</div>
