#home {
  height: 540px;
  margin-bottom: 50px;

  .parent-slide {
    position: relative;
    padding-right: 5px;
    margin-left: 5%;

    .under-addresses {
      width: 100%;
      margin-top: 5px;
      color: #AEADB2;
      font-style: italic;
      .location {
        width: 30%;
        float: left;

        .position-pin {
          float: left;
          background: url('~/assets/img/app/imagen-25.png') no-repeat center left;
          background-size: cover;
          height: 20px;
          width: 20px;
          margin-right: 5px;
        }

      }
      .schedule {
        .alarm-clock {
          float: left;
          background: url('~/assets/img/app/imagen-26.png') no-repeat center left;
          background-size: cover;
          height: 20px;
          width: 20px;
          margin-right: 10px;
        }
        width: 70%;
        float: left;
        .schedule-plus {
          color: #81c4d4;
          margin-left: 5px;
        }
      }
    }
  }

  .image-slide {
    max-height: 500px;
    margin: 0 auto;
    width: 100%;
  }

  .side-label {
    position: absolute;
    width: 70px;
    height: 125px;
    left: -56px;
    border-radius: 7px 0 0 7px;

    .little-home {
      position: absolute;
      width: 70px;
      height: 80px;
      top: -61px;
      left: 0;
    }

    .address {
      transform: rotate(-90deg);
      transform-origin: right top 0;
      position: absolute;
      color: #fff;
      text-align: center;
      font-size: 14px;
      &.text-gray {
        color: #AEADB2;
      }
    }

    &.side-label-one {
      top: 10px;
      background: #6dbe45;
      .little-home {
        background: url('~/assets/img/app/imagen-27.png') no-repeat center center;
        background-size: 70%;
      }
      .address {
        left: -55px;
        top: 25px;
      }
    }

    &.side-label-two {
      top: 190px;
      background: #fff;
      .little-home {
        background: url('~/assets/img/app/imagen-28.png') no-repeat center center;
        background-size: 70%;
      }
      .address {
        left: -100px;
        top: 5px;
        font-size: 12px;
      }
    }

    &.side-label-three {
      top: 375px;
      background: #fff;
      .little-home {
        background: url('~/assets/img/app/imagen-29.png') no-repeat center center;
        background-size: 70%;
      }
      .address {
        left: -45px;
        top: 30px;
        font-size: 12px;
      }
    }

  }

  .right.carousel-control, .left.carousel-control {
    display: none;
  }

  .carousel-indicators {
    left: 120%;
    width: 10%;
    bottom: 0;
    .active {
      margin: 0 3px;
      width: 10px;
      height: 10px;
      background-color: #fff;
    }

    li {
      margin: 0 3px;
      border: none;
      background-color: rgba(255, 255, 255, 0.41);
    }
  }

  .parent-gallery {
    padding-left: 5px;
    height: 500px;
    .gallery {
      width: 100%;
      min-height: 500px;
      background: url('~/assets/img/app/imagen-33.png') no-repeat center;
      background-size: cover;
      position: relative;
      .title {
        position: absolute;
        width: 100%;
        height: 20%;
        background: url('~/assets/img/app/imagen-12.png') no-repeat center;
        background-size: 75% 100%;
        top: -40px;
        left: 13px;
      }
      .gallery-images {
        min-height: 425px;
        position: absolute;
        width: 80%;
        top: 65px;
        left: 20px;
        .gallery-image {
          width: 125px;
          height: 110px;
          margin: 25px auto;
          color: white;
          .gallery-img {
            width: 90%;
            height: 110px;
            margin: auto;
            .gallery-layer {
              background-color: rgba(0, 0, 0, 0.5);
              width: 100%;
              height: 100%;
              padding: 35px 25px 0 25px;
              text-align: center;

              .text-layer {
                width: 55%;
                margin: auto;
                font-size: 12px;
              }

            }
          }
        }
      }
    }
  }
}
