<section id="home" class="container-fluid">
  <div class="row">
    <div class="col-md-1 col-lg-1"></div>
    <div class="col-md-8 col-lg-8 parent-slide">
      <div class="side-label side-label-one">
        <div class="little-home"></div>
        <span class="address">Mar del Sur <br><b>Las Condes</b></span>
      </div>
      <div class="side-label side-label-two">
        <div class="little-home"></div>
        <span class="address text-gray">Monseñor<br>Escrivá de Balaguer <br> <b>Vitacura</b></span>
      </div>
      <div class="side-label side-label-three">
        <div class="little-home"></div>
        <span class="address text-gray">Alcántara<br><b>Las Condes</b></span>
      </div>
      <div uib-carousel active="homeCtrl.active" interval="homeCtrl.interval" no-wrap="homeCtrl.noWrapSlides">
        <div uib-slide ng-repeat="slide in homeCtrl.slides track by slide.id" index="$index">
          <img ng-src="{{slide.image}}" class="img-responsive image-slide center-block">
        </div>
      </div>
      <div class="under-addresses">
        <div class="location"><div class="position-pin"></div> Av. Mar del Sur 1099, Las Condes</div>
        <div class="schedule">
          <div class="alarm-clock"></div> Jornada mañana de 8:00 a 12:30 - 12:00 hrs. <span class="schedule-plus">Extensión de jornada has las 15:00 hrs.</span>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-lg-2 parent-gallery">
      <div class="gallery">
          <div class="title"></div>
          <div class="gallery-images">
            <div class="gallery-image image-one">
              <div class="gallery-img" style="background:url('http://via.placeholder.com/125x110.png');">
                <div class="gallery-layer">
                      <span class="text-layer">Colación</span>
                      <span class="text-layer">Compartida</span>
                </div>
              </div>
            </div>
            <div class="gallery-image image-two">
              <div class="gallery-img" style="background:url('http://via.placeholder.com/125x110.png');"></div>
            </div>
            <div class="gallery-image image-three">

              <div class="gallery-img" style="background:url('http://via.placeholder.com/125x110.png');">
                <div class="gallery-layer">
                  <span class="text-layer">Actividad</span>
                  <span class="text-layer">Padre-Hijo</span>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
