<section id="infrastructure" class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-lg-2 stars">
      <div class="star star-one"></div>
      <div class="star star-two"></div>
      <div class="star star-three"></div>
      <div class="star star-four"></div>
      <div class="direction"></div>
    </div>
    <div class="col-md-8 col-lg-8">
      <div uib-carousel active="infraCtrl.active" interval="infraCtrl.interval" no-wrap="infraCtrl.noWrapSlides">
        <div uib-slide ng-repeat="slide in infraCtrl.slides track by slide.id" index="$index">
          <img ng-src="{{slide.image}}" class="img-responsive image-slide center-block">
        </div>
      </div>
    </div>
    <div class="col-md-2 col-lg-2">
      <div class="puzzles">

      </div>
    </div>
  </div>
  <div class="spacer50"></div>
  <div class="row stripes">
    <div class="pull-left text-box text-box-one">
      <div class="title">Antecedentes del Espacio Educativo</div>
      <div class="line-stripes"></div>
      <p>Respecto al <strong>espacio físico</strong> que brinda el</p>
      <p>Jadrín Infantil, se han considerado las</p>
      <p>áreas y recintos exigidos para su ade-</p>
      <p>cuado funcionamiento.</p>
      <p>Cada grupo cuenta con su <strong>sala de acti-</strong></p>
      <p><strong>vidades,</strong> además de una <strong>sala de rinco-</strong></p>
      <p><strong>nes</strong> y el <strong>patio de juegos,</strong> se cuenta con</p>
      <p>salas de <strong>hábitos hifiénicos</strong> y muda </p>
      <p>además ed espacios necesarios para la </p>
      <p>realización de las <strong>actividades</strong></p>
      <p><strong>administrativas y de planificación</strong></p>
      <p>(Oficina, Sala de Material Didáctico y</p>
      <p>Sala de Educadoras)</p>
    </div>
    <div class="pull-left text-box text-box-two">
      <div class="title">Antecedentes del Equipamiento</div>
      <div class="line-stripes"></div>
      <p>En cuanto al equipamiento, cada sala</p>
      <p>cuenta con el <strong>mobiliario necesario</strong> para</p>
      <p>la realización de las actividades de los</p>
      <p>niños, al igual que la sala de <strong>hábitos</strong></p>
      <p><strong>higiénicos</strong> y los <strong>recintos al aire libre.</strong></p>
      <p>El mobiliario y equipamiento han sido</p>
      <p>seleccionados según las capacidades de</p>
      <p>los niños y su uso en variadas activida-</p>
      <p>des, tales como momentos de trabajo</p>
      <p>en gran grupo, en pequeño grupo,</p>
      <p>juegos de rincones y otras.</p>
    </div>
    <div class="pull-left text-box text-box-three">
      <div class="title">Antecedentes del Equipamiento</div>
      <div class="line-stripes"></div>
      <p>En cuanto al equipamiento, cada sala</p>
      <p>cuenta con el <strong>mobiliario necesario</strong> para</p>
      <p>la realización de las actividades de los</p>
      <p>niños, al igual que la sala de <strong>hábitos</strong></p>
      <p><strong>higiénicos</strong> y los <strong>recintos al aire libre.</strong></p>
      <p>El mobiliario y equipamiento han sido</p>
      <p>seleccionados según las capacidades de</p>
      <p>los niños y su uso en variadas activida-</p>
      <p>des, tales como momentos de trabajo</p>
      <p>en gran grupo, en pequeño grupo,</p>
      <p>juegos de rincones y otras.</p>
    </div>
    <div class="pull-left text-box text-box-four">
      <div class="spacer50"></div>
      <p>Constantemente, las educadoras elabo-</p>
      <p>ran materiales como recurso pedagógi-</p>
      <p>co y apoyo al desarrollo de las activida-</p>
      <p>des, tales como: ficheros de poesía,</p>
      <p>recetario de cocina, libro de técnicas de</p>
      <p>arte, set de juegos para gimnasia, set</p>
      <p>de ilustraciones por tema, distintivos</p>
      <p>para los rincones, hojas de planificación</p>
      <p>para los rincones y otros.</p>
    </div>
    <div class="music-notes"></div>
  </div>
</section>

