#infrastructure {
  height: 1105px;
  margin-bottom: 50px;
  p {
    margin: 0 0 5px;
  }

  .image-slide {
    max-height: 500px;
    margin: 0 auto;
    width: 100%;
  }

  .right.carousel-control, .left.carousel-control {
    display: none;
  }

  .carousel-indicators {
    left: 120%;
    width: 10%;
    bottom: 0;
    .active {
      margin: 0 3px;
      width: 10px;
      height: 10px;
      background-color: #fff;
    }

    li {
      margin: 0 3px;
      border: none;
      background-color: rgba(255, 255, 255, 0.41);
    }
  }

  .stripes {
    min-height: 500px;
    background: linear-gradient(-90deg, rgb(228, 232, 237) 55%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0) 0), rgba(129, 196, 212, 0.7);
    background-size: 50px auto;
    position: relative;
  }
  .music-notes {
    position: absolute;
    background: url('~/assets/img/app/imagen-19.png') no-repeat center center;
    background-size: contain;
    width: 18%;
    height: 110px;
    bottom: 0;
    right: 0;
  }
  .text-box {
    background: #fff;
    width: 20%;
    height: 450px;
    margin: 25px 0 0 6%;
    padding: 20px 15px;
    font-size: 1vw;
    color: #969696;

    &.text-box-two {
      margin-left: 30px;
    }
    &.text-box-three {
      margin-left: 30px;
      width: 20%;
      padding-right: 0;
    }
    &.text-box-four {
      margin-left: 0;
      width: 25%;
      padding-left: 5%;
    }

    .title {
      text-align: center;
      font-family: KGAlwaysAGoodTime, Arial, Helvetica, sans-serif;
      font-weight: normal;
      font-size: 16px;
    }
    .line-stripes {
      width: 80%;
      height: 30px;
      background: url('~/assets/img/app/imagen-16.png') no-repeat center center;
      background-size: 40%;
      margin: auto;
    }
  }

  .puzzles {
    width: 75%;
    min-height: 375px;
    background: url('~/assets/img/app/imagen-23.png') no-repeat center;
    background-size: contain;
    margin-top: 65px;
  }

  .stars {
    position: relative;
    min-height: 500px;
    .star {
      position: absolute;
      width: 30px;
      height: 32px;
    }

    .star-one {
      background: url("~/assets/img/app/imagen-10.png") no-repeat center center;
      background-size: contain;
      top: 90px;
      right: 20px;
    }
    .star-two {
      background: url("~/assets/img/app/imagen-9.png") no-repeat center center;
      background-size: contain;
      top: 120px;
      right: 130px;
    }
    .star-three {
      background: url("~/assets/img/app/imagen-9.png") no-repeat center center;
      background-size: contain;
      top: 190px;
      right: 90px;
    }
    .star-four {
      background: url("~/assets/img/app/imagen-10.png") no-repeat center center;
      background-size: contain;
      top: 315px;
      right: 135px;
    }
    .direction {
      background: url("~/assets/img/app/imagen-18.png") no-repeat center center;
      background-size: contain;
      position: absolute;
      width: 100px;
      height: 100px;
      bottom: 0;
      right: 25%;
    }
  }
}

@media only screen and (min-width: 1919px) {
  #infrastructure {
    .text-box {
      font-size: 0.9vw;
    }
  }
}